body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: rgb(29,66,59);
  text-align: center;
  background-color: rgb(124,212,192) }
  ul.navbar {
    list-style-type: none;
  padding: 0;
  margin: 0;
 position: absolute;
 text-align: center
 top: 2em;
 left: 1em;
 width: 9em }
  h1 {
 font-family: Helvetica, Geneva, Arial,
       SunSans-Regular, sans-serif }
       ul.navbar li {
  background-color: rgb(190,249,234);
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black;
text-align: center}
ul.navbar a {
  text-decoration: none }
a:link {
  color: rgb(29,66,59) }
a:visited {
  color: rgb(251,251,251) }
  address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
